main_.cc
a.exe
t.json
lib.a
optimization.exe
optimization
compile_commands.json
collect_plugins
.vscode
test
app.log
test.cpp
collect_plugins.exe
# папки
compiled/
build/
CMakeFiles/
-pbuild/
optimization
optimization_gui
